@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background: radial-gradient(circle at 30% 30%, #0f2027, #000000);
  color: white;
  overflow-x: hidden;
}

/* glass effect */
section {
  backdrop-filter: blur(10px);
}
body {
  margin: 0;
  background: radial-gradient(circle at center, #050505, #000);
  color: white;
}

/* neon glow effect */
canvas {
  filter: drop-shadow(0 0 20px cyan);
}
